. ~/.config/fish/aliases.fish

set -gx fish_greeting ''

#set normal (set_color normal)
#set magenta (set_color magenta)
#set yellow (set_color yellow)
#set green (set_color green)
#set red (set_color red)
#set gray (set_color -o black)

# Fish git prompt
set __fish_git_prompt_showdirtystate 'yes'
set __fish_git_prompt_showstashstate 'yes'
set __fish_git_prompt_showuntrackedfiles 'yes'
set __fish_git_prompt_showupstream 'yes'
set __fish_git_prompt_color_branch yellow
set __fish_git_prompt_color_upstream_ahead green
set __fish_git_prompt_color_upstream_behind red

# Status Chars
set __fish_git_prompt_char_upstream_behind '↓'
set __fish_git_prompt_char_upstream_ahead '↑'


function fish_prompt
  set last_status $status
  set_color $fish_color_cwd
  printf '%s > ' (prompt_pwd)
  set_color normal
end

function fish_right_prompt
  set_color normal
  printf '%s ' (__fish_git_prompt)
  if not set -q __fish_prompt_hostname
    set -g __fish_prompt_hostname (hostname -s)
  end
  set_color red
  echo -n -s "[" "$USER" @ "$__fish_prompt_hostname]" " "
  set_color normal
end

fish_add_path $HOME"/.poetry/bin" $HOME"/.config/yarn/global/node_modules/.bin" "/usr/local/sbin" $HOME"/.cargo/bin" $HOME"/.local/bin"

if type -q direnv
  eval (direnv hook fish)
end

if test -d /usr/local/opt/openssl/bin
  fish_add_path  "/usr/local/opt/openssl/bin"
end

set -x LANG "en_US.UTF-8"
set -x LC_ALL "en_US.UTF-8"

export EDITOR=nvim

if test -d /usr/local/opt/sqlite/bin
  fish_add_path "/usr/local/opt/sqlite/bin"
end

if test -d /usr/local/opt/findutils/libexec/gnubin
  fish_add_path "/usr/local/opt/findutils/libexec/gnubin"
end

set -x FZF_DEFAULT_COMMAND 'fd --type f'
set -x FZF_CTRL_T_COMMAND $FZF_DEFAULT_COMMAND

{{- if eq .chezmoi.os "darwin" }}
set -x HOMEBREW_BUNDLE_FILE $HOME"/.config/brew/Brewfile"
if [ (uname -m) = arm64 ]
  fish_add_path /opt/homebrew/bin
end
test -e ~/.iterm2_shell_integration.fish ; and source ~/.iterm2_shell_integration.fish
{{- end }}

fish_add_path (git --exec-path)

mise activate fish | source

set -gx __fish_initialized 1
