{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# dot_config/iterm2_profile/com.googlecode.iterm2.plist hash: {{ include "dot_config/iterm2_profile/com.googlecode.iterm2.plist" | sha256sum }}
# Specify the preferences directory
defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "~/.config/iterm2_profile"
# Tell iTerm2 to use the custom preferences in the directory
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
{{ end -}}
