[user]
	email = scwill@us.ibm.com
	name = Cameron Will
	signingkey = 82A2EB6C
[merge]
	tool = bc3
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = bc3
        compactionHeuristic = true
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/scwill/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[alias]
	precommit = diff --cached --diff-algorithm=minimal -w
[difftool "bc3"]
	trustExitCode = true
[mergetool "bc3"]
	trustExitCode = true
